body {
    background-color: #dd9eff;
}
.header {
    background-color: #ffffff;
    margin: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.rightside {
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.looks {
    padding-top: 10px;
    font-family: 'Montserrat';
}
.views {
    display: flex;
}
.icon {
    width: 30px;
    height: 17px;
    padding-top: 25px;
    padding-left: 10px;
}
.title {
    margin: 0;
    padding-top: 20px;
    padding-left: 25px;
    font-family: 'Alegreya';
    color: #424242;
}
.button {
    font-size: 20px;
    text-decoration: none;
    background-color: #5396ed;
    margin-right: 25px;
    margin-top: 12px;
    display: block;
    height: 35px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Alegreya';
    color: #ffffff;
    border-radius: 10px;
    transition: 0.7s;
    &:hover {
        transform: scale(1.1);
        transition: 0.7s;
    }
}
.info {
    &_title {
        color: #ffffff;
        font-family: 'Alegreya';
        font-size: 35px;
        text-align: center;
    }
    &_text {
        color: #ffffff;
        font-family: 'Montserrat';
        font-size: 20px;
        text-align: center;
        margin-left: 130px;
        margin-right: 130px;
        line-height: 30px;
    }
    &_button {
        font-size: 20px;
        text-decoration: none;
        background-color: #5396ed;
        display: block;
        height: 35px;
        width: 150px;
        text-align: center;
        padding-top: 10px;
        font-family: 'Alegreya';
        color: #ffffff;
        border-radius: 10px;
        margin: auto;
        transition: 0.7s;
        &:hover {
            transform: scale(1.1);
            transition: 0.7s;
        }
    }
}
.blog {
    margin: auto;
    margin-bottom: 15px;
    display: block;
    background-color: #ffffff;
    height: 600px;
    width: 550px;
    border-radius: 20px;
    &_text {
        font-family: 'Montserrat';
        font-size: 20px;
        margin: 0;
        padding-top: 15px;
        padding-left: 19px;
    }
}
.img {
    padding-top: 15px;
}
.form {
    width: 600px;
    margin: 0 auto;
}
.input {
    font-family: 'Montserrat';
    width: 550px;
    margin: 0 23px;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    padding-left: 10px;
    &:focus {
        outline: none;
    }
}
.menu {
    display: flex;
    width: 550px;
    justify-content: space-between;
    margin-top: 25px;
    margin-right: 20px;
    &_item {
        font-family: 'Alegreya';
        color: #424242;
        text-decoration: none;
        font-size: 20px;
    }
}    
.body {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    height: 900px;
    border-radius: 30px;
}
.selected {
    text-decoration: underline;
} 
.up {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    width: 1100px;
}
